<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>billing</title>
</head>
<body>
<form method="POST" action="/bill">

            <h1>ENTER YOUR EXPENSES</h1>
            <div class="deepak">
                <input type="text" name="describe" id="describe" placeholder="describe your expenses" required>

            </div>
            <div class="deepak">
                 <input type="date" name="date" id="date" required>
                <input type="text" name="amount" id="amount" placeholder="amount" required>

            </div>

            <button class="sri" type="submit">Submit</button>
    <a href="/summary">History</a>
    <a href="/spliting">Split expenses?</a>
     </form>
        {{ss}}
        {{pop}}
        {{pop2}}
        {{succe}}

</body>
</html>