<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
 <form method="POST" action="/sigup">

            <h1>SIGN UP IN TO YOUR NAME</h1>
            <div class="deepak">
                <input type="text" name="username" id="username" placeholder="name" required>

            </div>
            <div class="deepak">
                <input type="text" name="password" id="password" placeholder="password" required>

            </div>


            <button class="sri" type="submit">Submit</button>
     <a href="/login">login</a>
            {{ss}}
            {{pop}}
            {{pop1}}
 </form>
</body>
</html>