<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginpage</title>
</head>
<body>
 <form method="POST" action="/login">

            <h1>LOGIN TO YOUR ROOM</h1>
            <div class="deepak">
                <input type="text" name="username" id="username" placeholder="username" required>

            </div>
            <div class="deepak">
                <input type="text" name="password" id="password" placeholder="password" required>

            </div>


            <button class="sri" type="submit">Submit</button>
     </form>

        <a href="/sigup">signup</a>
    {{s}}
    {{es}}

</body>

</html>